
        <style>
            .slider {
                -webkit-appearance: none;
                width: 100%;
                height: 15px;
                border-radius: 5px;
                background: #d3d3d3;
                outline: none;
                opacity: 0.7;
                -webkit-transition: .2s;
                transition: opacity .2s;

            }

            .slider:hover {
                opacity: 1;
            }

            .slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: #04AA6D;
                cursor: pointer;
            }

            .slider::-moz-range-thumb {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: #04AA6D;
                cursor: pointer;
            }
            #price{
                width: 20%;
            }
            .card{
                background: mediumseagreen;
            }
            .row{
                margin-top: 30px;
            }
            .bike-heading{
                height: 300px;
            }
            .hiphen{
                margin-left: 450px;
            }
        </style>
        <div class="container mb-4" >
        <div class="row">
            <div class="bike-heading">
                <div class="col-xs-12">
                    <h1 class="hiphen">
                        CITY BIKES
                    </h1>
                </div>
                <div class="col-xs-10 col-xs-push-1 col-md-6 col-md-push-3 pitch">
                    <p>Every single one of our road bikes are designed with incredible precision,
                        paying attention to the smallest of details because it’s all those super
                        small details that make the difference and which will provide you the best
                        cycling experience ever. No matter your level, your type of riding or if
                        you look for a men, women or even junior road bicycle, you will be
                        able to find in our range your next amazing partner for the road.
                        Lightweight bikes, aero bikes, triathlon, cyclocross or even gravel
                        bikes, the tough part is choosing!</p></div>
            </div>
            <hr>
            <div class="search-tag-desc-result">
                <div class="col">
                    <form id="filter-form" action="/rent/city" method="GET">
                        <label for="price">Price</label>
                        <input id="price" type="range" name="price" value="200" class="slider" min="0" max="1000"/>
                        <p>Value: <span id="demo"></span></p>
                        <label for="brand">Brand</label>
                        <select id="brand" name="brand">
                            <option th:value="null">All</option>
                            <!-- For each type you should have one <option> like below  -->
                            <option th:each="brand:${brands}" th:text="${brand.getName()}" th:value="${brand.getId()}"></option>
                        </select>
                        <button id="filter" type="submit">Search</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 m-5"th:each="re : ${rent}">
                    <div class="card fa-border " style="width: 26rem;">
                        <div class="card-body">

                            <img th:src="@{/images/mountainbike1.jpg}" height="150" width="250"/>
                            <td><h3 class="card-title" th:text="${re.getName()}">Card title</h3></td>
                            <td><h4 class="card-text" th:text="${re.getPrice()}" ></h4></td>
                            <td>
                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <form th:action="@{'/rent/delete/mountain/{id}' (id=${re.getId()})}" th:method="DELETE">
                                    <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-trash">Delete</i></button>
                                </form>
                                </th:block>
                            </td>
                            <td>
                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a th:href="@{'/rent/edit-form/{id}' (id=${re.getId()})}" class="btn btn-sm btn-info"><i class="fa fa-trash">Edit</i></a>
                                </th:block>
                            </td>
                            <td><form th:action="@{'/order/add/{id}' (id=${re.getId()})}" th:method="POST">
                                <button type="submit" class="btn btn-default bg-primary">Rent Bike</button>
                            </form>
                            </td>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <a href="/rent/addNew" class="btn btn-block btn-dark">Add new product for rent</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        var slider = document.getElementById("price");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value;

        slider.oninput = function() {
            output.innerHTML = this.value;
        }
    </script>