<section id="main-slider">
    <div class="owl-carousel">
        <div class="item" th:style="'background-image: url('+@{/images/b7.jpg}+');'">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="carousel-caption">
                            <div class="carousel-content">
                                <h2>DRIVE IN THE CITY</h2>
                                <p>Live the life</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.item-->
        <div class="item" th:style="'background-image: url('+@{/images/b5.jpg}+');'">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="carousel-caption">
                            <div class="carousel-content">
                                <h2>DRIVE IN THE MOUNTAIN</h2>
                                <p>Live the life</p>
                            </div>
                        </div>
                    </div>
                </div> </div>
        </div>
    </div>
    </div><!--/.item-->
    </div><!--/.owl-carousel-->
</section><!--/#main-slider-->

<section id="hero-text" class="wow fadeIn">
    <div class="container">`
        <div class="row">
                <h2>
                    Welcome
                </h2>
            <h2 class="nav-link" href="#">
                <th:block th:if="${#request.getRemoteUser()!=null}"
                          th:text="${#request.getRemoteUser()}"/>
            </h2>
                </div>
            </div>
</section><!--/#hero-text-->
