<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rent a bike</title>
        <!-- core CSS -->
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
        <link th:href="@{/css/animate.min.css}" rel="stylesheet">
        <link th:href="@{/css/owl.carousel.css}" rel="stylesheet">
        <link th:href="@{/css/owl.transitions.css}" rel="stylesheet">
        <link th:href="@{/css/prettyPhoto.css}" rel="stylesheet">
        <link th:href="@{/css/magnific-popup.css}" rel="stylesheet">
        <link th:href="@{/css/gallery-1.css}" rel="stylesheet">
        <link th:href="@{/css/styles.css}" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="../static/js/html5shiv.js"></script>
        <script src="../static/js/respond.min.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="../static/images/ico/favicon.ico">
        <style>

            .slider {
                -webkit-appearance: none;
                width: 100%;
                height: 15px;
                border-radius: 5px;
                background: #d3d3d3;
                outline: none;
                opacity: 0.7;
                -webkit-transition: .2s;
                transition: opacity .2s;

            }

            .slider:hover {
                opacity: 1;
            }

            .slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: #04AA6D;
                cursor: pointer;
            }

            .slider::-moz-range-thumb {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: #04AA6D;
                cursor: pointer;
            }
            #price{
                width: 20%;
            }
        </style>
    </head>
    <header id="header">
        <nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <i class="" aria-hidden="true"></i>
                    <div class="logoSection"> <a class="navbar-brand" href="/home">Bike</a>
                        <span class="caption">Bike Rental</span>
                    </div>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="scroll"><a href="/home">Home</a></li>
                        <li class="scroll"><a href="/rent">Our Service</a></li>
                        <li class="scroll"><a href="/">About Us</a></li>
                        <li class="scroll"><a href="/">Gallery</a></li>
                        <li class="scroll"><a href="/login">Log in</a></li>
                        <li class="scroll"><a href="/logout">Log out</a></li>
                        <li class="scroll">
                            <a class="nav-link" href="#">
                                <th:block th:if="${#request.getRemoteUser()!=null}"
                                          th:text="${#request.getRemoteUser()}"/>
                            </a>
                        </li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->
    <body>
    <style>
        .row{
            margin-top: 30px;
        }
        .bike-heading{
            height: 300px;
        }
        .hiphen{
            margin-left: 400px;
        }
    </style>
    <body>
    <div class="container mb-4" >
        <div class="row">
            <div class="bike-heading">
                <div class="col-xs-12">
                    <h1 class="hiphen">
                        MOUNTAIN BIKES
                    </h1>
                </div>
                <div class="col-xs-10 col-xs-push-1 col-md-6 col-md-push-3 pitch">
                    <p>Every single one of our road bikes are designed with incredible precision,
                        paying attention to the smallest of details because it’s all those super
                        small details that make the difference and which will provide you the best
                        cycling experience ever. No matter your level, your type of riding or if
                        you look for a men, women or even junior road bicycle, you will be
                        able to find in our range your next amazing partner for the road.
                        Lightweight bikes, aero bikes, triathlon, cyclocross or even gravel
                        bikes, the tough part is choosing!</p></div>
            </div>
            <div class="search-tag-desc-result">
                <div class="col">
                    <form id="filter-form" action="/rent/mountain" method="GET">
                        <label for="price">Price</label>
                        <input id="price" type="range" name="price" value="200" class="slider" min="0" max="1000"/>
                        <p>Value: <span id="demo"></span></p>
                        <label for="brand">Type</label>
                        <select id="brand" name="brand">
                            <option th:value="null">All</option>
                            <!-- For each type you should have one <option> like below  -->
                            <option th:each="brand:${brands}" th:text="${brand.getName()}" th:value="${brand.getId()}"></option>
                        </select>
                        <button id="filter" type="submit">Search</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 m-5"th:each="re : ${rent}">
                    <div class="card fa-border" style="width: 18rem;">
                        <div class="card-body">
                            <img>
                            <img class="card-img-top" src="http://girasol.bike/RS400/GIRASOL%20RS400-BIKE-BLK.JPG"</img>
                            alt="Card image cap">
                            <td><h5 class="card-title" th:text="${re.getName()}">Card title</h5></td>
                            <td><p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of the card's content.</p></td>
                            <td>
                                <form th:action="@{'/favourites/add/{id}' (id=${re.getId()})}" th:method="POST">
                                    <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-trash">Add to
                                        favourites</i></button>
                                </form>
                            </td>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="col mb-3">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <a href="/rent/addNew" class="btn btn-block btn-dark">Add new product for rent</a>
                    </div>
                </div>
            </div>
    </div>
    <script>
        var slider = document.getElementById("price");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value;

        slider.oninput = function() {
            output.innerHTML = this.value;
        }
    </script>
    </body>
</th:block>
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; Rent a bike.
            </div>
            <div class="col-sm-6">
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer><!--/#footer-->
</html>