<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rent a bike</title>
        <!-- core CSS -->
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
        <link th:href="@{/css/animate.min.css}" rel="stylesheet">
        <link th:href="@{/css/owl.carousel.css}" rel="stylesheet">
        <link th:href="@{/css/owl.transitions.css}" rel="stylesheet">
        <link th:href="@{/css/prettyPhoto.css}" rel="stylesheet">
        <link th:href="@{/css/magnific-popup.css}" rel="stylesheet">
        <link th:href="@{/css/gallery-1.css}" rel="stylesheet">
        <link th:href="@{/css/styles.css}" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="../static/js/html5shiv.js"></script>
        <script src="../static/js/respond.min.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="../static/images/ico/favicon.ico">
    </head>
    <header id="header">
        <nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <i class="" aria-hidden="true"></i>
                    <div class="logoSection"> <a class="navbar-brand" href="/home">Bike</a>
                        <span class="caption">Bike Rental</span>
                    </div>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="scroll"><a href="/home">Home</a></li>
                        <li class="scroll"><a href="/rent">Our Service</a></li>
                        <li class="scroll"><a href="">About Us</a></li>
                        <li class="scroll"><a href="">Gallery</a></li>
                        <li class="scroll"><a href="/login">Log in</a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->

<div class="container" >
    <h1 th:if="${hasError}" th:text="${error}"></h1>
</div>
<p class="container">
    <form class="form-signin mt-xl-5" method="post" action="/register">
        <h2 class="form-signin-heading">Register</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
        </p>
        <p>
            <label for="repeatedPassword" class="sr-only">Repeat Password</label>
            <input type="password" id="repeatedPassword" name="repeatedPassword" class="form-control" placeholder="Repeat Password" required="">
        </p>
        <p>
            <label for="name" class="sr-only">Name</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Name" required="" autofocus="">
        </p>
        <p>
            <label for="surname" class="sr-only">Surname</label>
            <input type="text" id="surname" name="surname" class="form-control" placeholder="Surname" required="" autofocus="">
        </p>
        <p>
            <input class="form-check-input" name="role"  type="radio" id="ROLE_USER" value="ROLE_USER">
            <label class="form-check-label" for="ROLE_USER">ROLE_USER</label>
            <input class="form-check-input" name="role"  type="radio" id="ROLE_ADMIN" value="ROLE_ADMIN">
            <label class="form-check-label" for="ROLE_USER">ROLE_ADMIN</label>
        </p>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
    <a href="/login" class="btn btn-block btn-light">Already have an account? Login here!</a>
</div>
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; Rent a bike.
            </div>
            <div class="col-sm-6">
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer><!--/#footer-->

<!--<script th:src="@{/js/html5shiv.js}"></script>
<script th:src="@{/js/respond.min.js}"></script>-->
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script th:src="@{js/owl.carousel.min.js}"></script>
<script th:src="@{/js/mousescroll.js}"></script>
<script th:src="@{/js/smoothscroll.js}"></script>
<script th:src="@{/js/jquery.prettyPhoto.js}"></script>
<script th:src="@{/js/jquery.inview.min.js}"></script>
<script th:src="@{/js/wow.min.js}"></script>
<script src="contact/jqBootstrapValidation.js"></script>
<script src="contact/contact_me.js"></script>

<script type="text/javascript" th:src="@{/js/jquery.isotope.min.js}"></script><!-- Gallery Filter -->
<script type="text/javascript" th:src="@{/js/jquery.magnific-popup.min.js}"></script><!-- Gallery Popup -->

<script th:src="@{/js/custom-scripts.js}"></script>
</body>
</body>
</th:block>
</html>