
    <style>
        .card {
            background: mediumseagreen;
        }
    </style>

    <section id="hero-text" class="wow fadeIn">
        <div class="container">`
            <div class="row">

                <div class="col-sm-4">
                    <label>
                        <a href="/rent/city" class="btn btn-primary btn-lg"><img th:src="@{/images/city.jpg}"
                                                                                 height="220" width="220"/></a>
                    </label>
                </div>
                <div class="col-sm-4">
                    <label>
                        <a href="/rent/mountain" class="btn btn-primary btn-lg"><img th:src="@{/images/mountain.jpg}"
                                                                                     height="220" width="220"/></a>
                    </label>
                </div>
                <div class="col-sm-4 ">
                    <label>
                        <a href="/accessories" class="btn btn-primary btn-lg"><img th:src="@{/images/goggles.jpg}"
                                                                                   height="220" width="220"/></a>
                    </label>
                </div>
            </div>
        </div>
    </section><!--/#hero-text-->

<div class="container mb-4">
    <div class="row ">
        <h2 class="display-1 justify-content-center">New bikes</h2>
    </div>
    <div class="row">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
        <div class="col-md-3 m-5"th:each="re : ${rent}">
            <div class="card fa-border " style="width: 26rem;">
                <div class="card-body">

                    <img th:src="@{/images/mountainbike1.jpg}" height="150" width="250"/>
                    <td><h3 class="card-title" th:text="${re.getName()}">Card title</h3></td>
                    <td><h4 class="card-text" th:text="${re.getPrice()}" ></h4></td>

                    <td><form th:action="@{'/order/add/{id}' (id=${re.getId()})}" th:method="POST">
                        <button type="submit" class="btn btn-default bg-primary">Rent Bike</button>
                    </form>
                    </td>
                </div>
            </div>
    </div>
</div>
</div>
</div>
</div>

